.question { font-weight: bold; }
.title { font-weight: 800; font-size: 36px; margin: 15px 0;}
a { color: #3ea9c9; }
body { color: #4c4c54; line-height: normal; }
ul { padding: inherit; list-style: square; }
ol { padding: inherit; list-style: decimal; }
#navbar { float: left; width: 20%; background: #000; position: fixed; top: 0; bottom: 0; overflow: hidden; }
.container { margin-left: 20%; padding: 0 17px; width: auto!important; }
#navbar a { color: #fff; display: block; padding: 5px 10px; font-weight: bold; line-height: 1; }
#navbar a.current, #navbar a:hover, #navbar a:active { color: #f3e92b; }
#navbar a.isadmin { font-size: smaller; font-style: italic; }
#logo { max-width: 87%; display: block; margin: auto; max-height: 4em; }
.button { background: black; border-radius: 0.8em; color: #f3e92b; cursor: pointer; }
#edit { float: right; padding-left: 10px; }
#edit .button { font-size: 17px; padding: 7px; }
label { display: block; font-weight: bold; }
textarea { width: 100%; height: 10em; display: block; margin: auto; max-width: 600px; }